BOT_TOKEN=<your_tg_bot_token>
PUSHOVER_USER_KEY=<your_pushover_user_key>
PUSHOVER_TOKEN=<your_pushover_token>
SESSION_PASSWORD=a-random-password-with-at-least-32-characters
GITHUB_CLIENT_ID=<your_github_client_id>
GITHUB_CLIENT_SECRET=<your_github_client_secret>